[submodule "themes/volantis"]
	path = themes/volantis
	url = https://github.com/goldsheep3/hexo-theme-volantis.git
[submodule "source/_post"]
	path = source/_post
	url = https://github.com/goldsheep3/swl_post.git
